<li class='hidden-desktop'><%= link_to 'Ayloo Community Calendar', 'http://ayloo.net/mobile/calendar.php', target: 'new'  %></li>
<li class='hidden-desktop'><%= link_to '/usr/lib Events Calendar', 'http://usrlib.org/events', target: 'new' %></li>
<li class='hidden-desktop'><%= link_to 'VegasTech.com Events Calendar', 'http://vegastech.com/events/', target: 'new'  %></li>
<li class='hidden-desktop'><%= link_to 'Work In Progress Calendar', 'http://workinprogress.lv/events/', target: 'new'  %></li>