<%= render partial: 'stories/story', :locals => { :story => @story } %>
    
<h1> Discussion </h1>

<% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', :locals => { :story => comment } %>
<% end %>