/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700);
@import 'colors';
@import 'compass';
@import 'bootstrap_and_overrides';

@import 'bootstrap';
body { padding-top: 80px; }
@import 'bootstrap-responsive';
@import 'font-awesome';
@import 'stories';
@import 'bootstrap-datetimepicker';
@import 'datepicker';

body {
  // background: url(/assets/cork.png) top left;
  background: $lightGray;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1{
  font-weight: 200;
  font-size: 60px;

  a{
    @include transition-property(color);
    @include transition-duration(1250ms);
  }
  
  &:hover a{
    color: $lightYellow;
    @include transition-property(color);
    @include transition-duration(1250ms);


    text-decoration: none;
  }
}

h2{
  margin-top: 50px;
  font-weight: 200;
  font-size: 40px;
}

h3{
  margin-top: 50px;
  font-weight: 200;
  font-size: 30px;
}

h4{
  margin-top: 40px;
  font-weight: 200;
  font-size: 20px;
}

.red-border{
  border: red solid 1px;
}

.score{
  color: #fbf9f0;
}

.head_shot{
  margin-bottom: 10px;
}

.thumbnail{
  background-color: white;
}

.clear {
  clear: both;
}

.nav.pull-right > li > a img { 
  margin-right:5px;
}

.navbar-inner {
  box-shadow: none;

  // ul.nav li a {
  //   text-shadow: none;

  //   &:hover {
  //     color: darken(@lightYellow, 90%);
  //   }
  // }
}

i.icon-twitter{
  font-size: 20px;
}

.pagination {
  text-align: center;
  margin-top: 50px;

  ul {
    background: white;
  }
}

.footer {
  padding-top: 50px;
  border-top: dashed $lightYellow 5px;
  margin: 30px 0 50px;
  text-align: center;

  p {
    font-size: 14px;
    color: darken($lightYellow, 90%);

    img {
      margin: 0 10px;
    }
  }
}

h1 {
  color: rgba(0,0,0,.5);
  margin-bottom: 10px;
}

.photo {
  display: inline-block;
  background: white;
  margin: 3px;
  padding: 1px;

  img {
    width: 150px;
    height: 150px;
  }
}

#supporters{
  margin-top: 40px;
}


