
  // .blurb-container{
  //   position: absolute;
  //   right: 20px;
  //   @include transition-property(background-color);
  //   @include transition-duration(2s);

  //   &:hover{
  //   background-color: rgba(0,0,0,0.65);
  //   @include transition-property(background-color);
  //   @include transition-duration(2s);
  //   }
  // }


.event-date{
  margin-bottom: 150px;
  border-left: 10px dashed $lightYellow;
  padding-bottom: 20px;
  padding-left: 20px;

  h3{
    font-weight: 400;
  }
}

.story {
  // background-color: rgba(249,249,249,0.85);
  position: relative;
  // background: $lightGray;

  .left-pin {
    position: absolute;
    top: 15px;
    left: -28px;
  }

  .right-pin {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .center-pin {
    margin: -10px auto 10px;
  }

  .content {
    margin-top: 30px;
    border-top: solid 1px lighten(gray, 40%);
    font-size: 20px;
    line-height: 28px;
    color: #555;
    padding-top: 15px;

    .vote_actions{
      border-left: solid 1px lighten(gray, 40%);
      min-height: 140px;
    }

    .vote {
      color: gray;
      padding: 15px;
      width: 30px;
      font-size: 60px;
      @include transition-property(background-color color);
      @include transition-duration(750ms);

      &:hover {
        @include transition-property(background-color color);
        @include transition-duration(750ms);
        text-decoration: none;
        color: green;
      }
    }

    .voted {
      padding: 15px;
      width: 30px;
      font-size: 60px;
      color: green;

      &:hover {
        text-decoration: none;
      }
    }

    @media (max-width: 767px) {
      .vote {

        i {
          font-size: 60%;
        }
      }

      .rank {
        display: inline-block;
        margin-top: 15px;
      }
    }

    .rank {
      color: #777;
      font-size: 120%;
    }

    .metadata {
      margin-top: 25px;

      img {
        @include border-radius(10px);
        float: left;
        margin-right: 10px;
      }

      .handle {
        display: block;
        padding-top: 15px;
        line-height: 10px;
        color: #bbb;

        a {
          color: #bbb;
          text-decoration: none;
        }
      }

      .age, .comments {
        padding-right: 2px;
        color: #bbb;
        font-size: 65%;

        a {
          color: #bbb;
        }
      }
    }
  }

  .rank {
    clear: both;
  }
}

.comments {
  margin-top: 15px;
  margin-right: 10px;
}

.comment-form {
  margin-top: 30px;

  img {
    @include border-radius(10px);
    width: 200px;
  }
}
