<% if @error %>
  <%# TODO %>
<% else %>
  $('.story[data-id="<%= @story.id %>"] .vote').replaceWith('<div class="vote"><i class="icon-ok icon-white"></i></div>')
  $('.story[data-id="<%= @story.id %>"] .rank').text('<%= @story.votes_count %> points')
<% end %>
