h1 About 

h3 Why We Did It

p The #VegasTech Bulletin Board was created during Hack Nights at the Las Vegas Ruby User Group. We built this app as a learning process for members and also thought it would help get the word out about important community events.

h3 How Does It Work?

h4 We try to show what's relevant

p We use the Twitter API to display tweets with the #VegasTech hashtag. If it's retweeted, it will increase the point count. Users can also sign in and vote for a tweet.

h4 Curators

p Tweets are tagged by a team of curators. 

