<h1>Most recent activity</h1>

<% @stories.each do |story| %>
  <%= render partial: 'stories/story', :locals => { :story => story } %>
<% end %>

<%= will_paginate(@stories, previous_label: '&#8592;', next_label: '&#8594;', inner_window: 0, outer_window: 0) %>
