
<h1>#VegasTech Supporters</h1>

<ul class="thumbnails">
  <% @users.each do |user| %>
    <li class="span2 head_shot">
      <div class="thumbnail ">
        <%= image_tag(user.twitter_profile_image_url) %>
        <p><%= user.twitter_handle %></p>
      </div>
    </li>
  <% end %>
</ul>